@model IEnumerable<CTO_Portal.Models.verified_requests>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.approved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cours.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student1.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student2.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student3.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student4.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student5.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.temp_requests.note)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.approved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cours.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.student.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.student1.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.student2.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.student3.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.student4.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.student5.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.temp_requests.note)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
